
<html lang="en">

    {{> _head}}

    <body class="flex flex-col justify-center items-center h-[100vh]">
        <h1 class="font-yellowtail text-[32px]">Welcome to your cart {{ userEmail }}!</h1>
    </body>
</html>