
<nav class="flex justify-between">
    <p class="font-poppins text-[32px] font-semibold">PokeShop</p>
    <div>
        <span class="material-symbols-outlined text-[32px]">
            shopping_bag
        </span>
    </div>
</nav>